body {
	font-family: 'Alef', sans-serif;
	cursive;
	background: url(https://wallpapertag.com/wallpaper/full/8/e/1/787813-best-solid-backgrounds-1920x1080-for-mac.jpg)no-repeat;
	background-size: cover;
	margin-bottom: 50px;
}

.jumbotron-fluid {
	height: 300px;
	max-width: 100%;
	background: url('../images/dalmation.jpg')no-repeat;
	background-size: cover;
}



.container {
	text-align: center;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 50px;
	margin-top: 25px;
	
	font-size: 25px;
}

#start {
	font-size: 40px;
	color: white;
	background: black;
	cursor: pointer;
}

#start:hover {	
	color: black;
	background: white;	
}

#replay {
	font-size: 40px;
	color: white;
	background: black;
}

#replay:hover {
	color: black;
	background: white;
}

.answers:hover {
	cursor: pointer;
}

.card{
	margin-top: 2.5%;

}


.quizContainer {
	margin-right: 25%;
	margin-left: 25%;
	margin-bottom: 50px;
	color: #cbd0d6;
}



.page-footer {
	position: fixed;
	background-color: #ffffff;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.5%;
	color:  black;
	text-align: center;
	height: auto;
}

