body {
	font-family: "Helvetica","Verdana","Arial", sans-serif;
	background: url(https://wallpaperscraft.com/image/dog_puppy_black_baby_1174_1920x1080.jpg)no-repeat ;
    background-size: cover;
    background-width: 80%;
}



.jumbotron{
	height: 200px;
	text-align: center;
	margin-top: 25px;
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 100px;
	background: #202428;
	color: #eff1f4;

}

.quizContainer{
	text-align: center;
	float: center;
	margin-left: 80px;
	margin-right: 80px;
	color: #cbd0d6;
	font-size: 25px;
	
	
}

